@import url('https://fonts.cdnfonts.com/css/crumble-bakery');
@import "tailwindcss";

*{
  font-family: 'Crumble Bakery', sans-serif;
                                                
}

@theme {
  --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c;
}