@import url('https://fonts.cdnfonts.com/css/crumble-bakery');
@import "tailwindcss";

*{
  font-family: 'Crumble Bakery', sans-serif;
                                                
}

@theme {
  --color-primary: #ad814e;
  --color-primary-dull: #c9a377;
}